

/*quienes somos*/
/*.fondo-somos{
	width: 99%;
	height: auto;
	border: 2px solid #2F9CBD;
	border-radius: 1%;
	padding:20px;
	margin-bottom: 30px;
}*/



.quienes-somos{
	text-align: justify;	
}

.mision-vision{
	padding: 2% 0% 2% 0%;
}
.mision-vision p{
	padding: 2% 10% 2% 10%;
}
/*seccion investigadores*/
.h-1{
	font-size: 30px;
	padding-top: 2%;
	color: #2D5181;
}
.investigador{
	display: inline-block;
	padding-top: 2%;
	text-align: center;
	}
.investigador div{
	width: 250px;
	height: 200px;
	}
.investigador div:hover{
	opacity: 0.5;
    filter: alpha(opacity=40);  /*For IE8 and earlier */
}
.inves-1{ 
	background: url(../investigadores/fotos/alex.jpg); 
	background-size: cover;
	border-radius: 100px 100px 100px 0px;
}
.inves-2{ 
	background: url(../investigadores/fotos/STEPHANY.jpg);
	background-size: cover;
	border-radius: 100px 100px 100px 0px;
}
.inves-3{ 
	background: url(../investigadores/fotos/luis.jpg);
	background-size: cover;
	border-radius: 100px 100px 100px 0px;
}
.inves-4{ 
	background: url(../investigadores/fotos/svita.jpg);
	background-size: cover;
	border-radius: 100px 100px 100px 0px;
	background-position: 0px -25px;
}
.inves-5{ 
	background: url(../investigadores/fotos/marco.jpg); 
	background-size: cover;
}
.inves-6{ 
	background: url(../investigadores/fotos/mariori.jpg);
	background-size: cover;
	border-radius: 100px 100px 100px 0px;
}
.inves-7{ 
	background: url(../investigadores/fotos/mayel.jpg);
	background-size: cover;
	border-radius: 100px 100px 100px 0px;
}
.inves-8{ 
	background: url(../investigadores/fotos/huver.jpg); 
	background-size: cover;
	border-radius: 100px 100px 100px 0px;
	background-position: 0px -80px;
}
.investigador li{
	list-style: none;
	display: inline-block;
	margin: 20px;
	margin-bottom: 40px;
	position: relative;
	vertical-align: top;
}
.investigador h4{
	width: 250px;
	font-size: 18px;
	text-align: center;
	padding:4% 2%;
	color: #2D5181}
.conoceme{
	/*background: #6A8BAC;*/
	background: #F2AE1A;
	width: 100%;
	height: 40px;
	color: white;
	border:#006633;
	border-radius: 7px;
	text-align: center;
	}

