<<<<<<< HEAD
/*Comienza el menu */
	/*.menu{padding-top: 50px;}*/
	.menu li{
		padding: auto 0;
		border-right:2px solid #4D4D4D;}

	.menu a { color: #4D4D4D;
		padding:10px 15px;
		font-size: 20px;
		margin: 0px; }

	.menu li:last-child{ border-right:none;}
	.menu li:last-child{border-right:none;}

	.menu a:hover{	font-size: 28px;
		font-weight: bold;
		border: 3px solid #5E8039;}
/*termina el menu*/
=======
/* Inserta tu codigo que es común para todas las páginas aqui */
*{outline:1px solid rgba(255,0,0,0.3);}
body{width: 98%; margin: auto; text-align: center;}
.row {margin: auto;}
>>>>>>> 499fcc473160e2d142149025407780808217a5dd
