/*Comienza el menu */
*{outline:1px solid rgba(255,0,0,0.4);}

a{text-decoration: none;}
li{list-style: none;}
nav{display: block;
	overflow: hidden;}
* { box-sizing: border-box;}
.espacio-menu{
    padding-top:120px; 
}
/*comienza el menu*/
.menu{
	z-index: 2;position: fixed;
	background: white;
}
.logo{
	width: 90%;
	height: 100px;
    margin: 0px;
}
.nombre{padding-top: 1%}
.nombre p{
	font-size: 25px;
	color: #486E9D;
	padding: 2%;
}


nav a {
    float:right;
    padding: .7em .7em;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: linear-gradient(#B8C7DA,#B8C7DA);            
 }
nav a:hover, nav a:focus {
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: linear-gradient(#486E9D, #486E9D);
}

nav a:active {
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}
 
nav li:first-child a {
    border-left: 0;
    border-radius: 4px 0 0 4px;            
}

nav li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;            
}
/*termina el menu*/

.fondo-pie{border-top:2px solid #345E98; padding: 5px;  }
.fondo-pie img {width: 40px; }
.fondo-pie p{font-size: 12px; padding: 8px 4px;}

.naranja{background: #F2AE1A;}
.b-naranja{border: 2px solid #F2AE1A;}
.azul2{background: #072B74;}
.mision-vision p{ height: 170px; }