.submenu-fijo{z-index: 1;position: fixed;
}

.actividades{
	width: 100%; 
	margin: auto; 
	text-align: center;}
.l-sin-estilo{
	text-decoration: none; 
	padding: 0; 
	margin: 0; 
	color: #fff;}
.l-sin-estilo li{color: #fff;}
.sub-menu{ 
	padding: .5em; 
	margin: .8em 0;   
	display: inline-block; 
	color: #fff;   
	font-weight: bold;}
.sub-menu a{
	padding: .5em 1.5em; 
	border: 1px solid #E0B049; 
	border-radius: 6px; 
	color: #111;}
.sub-menu a:hover{
	background: #E0B049; 
	color: #fff; }
.titulo{
	text-align: center;
	width: 100%;
	padding: 10px 0; 
	margin: 5px auto 10px;}
.actividad{
	vertical-align: top;  
	margin: auto; 
	width: 260px;  
	display: inline-block; 
	margin: 5px 7px 0; 
	text-align: justify;  
	padding: 10px; }

.container{text-align: center;}

.nombre-actividad{font-size: 13px; height: 40px; background:  #E0B049; border-radius: 5px; padding: 5px; text-align: center; color: #fff;}
.cuerpo-actividad{font-size: 16px;height: 180px; border: 2px solid #E0B049; padding: 4px; border-radius: 3px;}

.slider{width: 250px; margin: auto; overflow: hidden; }
.slider ul{padding: 0;display: flex; width: 1000px;animation: cambio 16s infinite alternate; animation-timing-function: linear;}
.slider li{width: 100%; list-style: none;}
.slider img{width: 96%; height: 200px;}

@keyframes cambio { 
	0% {margin-left: 0;}
	25% {margin-left: 0;}

	30% {margin-left: -100%;}
	50% {margin-left: -100%;}

	55% {margin-left: -200%;}
	75% {margin-left: -200%;}

	80% {margin-left: -300%;}
	100% {margin-left: -300%;}
 }
