.foto-personal img{
	width: 100%;
	height: 300px;
}
.cv-personal p{
	background: #BBCADD;
}
.cv-personal h3{
	background: #336192;
	padding: 10px;
	color: white;
}
.fondo-cv img{
	/*background: url(../img/fondo-cv2.jpg);*/
	/*background-size: cover;*/
	height: 200px;
	width: 100%;
}